body {
  background-color: #0c0c1a;
}
.App {
  background-color: #0c0c1a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 100%;
  background-color: #0c0c1a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
  margin: 20px 0 0 auto;
}

.App-link {
  color: #61dafb;
}

.widget-title {
  text-align: left;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.sub-widget-title {
  text-align: left;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(191, 191, 191);
}

.widget-container {
  margin: 10px;
  background-color: #14142b;
  border-radius: 15px;
}
.gauge {
  width: 100%;
  margin: 0 auto;
}

.sub-widget {
  width: 100%;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #14142b;
  border-radius: 15px;
}

.sub-widget-container {
  display: flex;
  flex-direction: row;
}
