.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0c0c1a;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.widget-title {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 60px;
}

.widget-container {
  margin: 10px;
  width: 450px;
  padding-bottom: 4rem;
  background-color: #14142b;
  border-radius: 15px;
}
.gauge {
  width: 100%;
  margin: 0 auto;
}
